<div class="page">
  <div class="page__header">
    <%= link_to "Marie Burns", root_path %>
  </div>

  <div class="page__search">
    <%= form_tag(page_path, method: "get") do %>
        <%= text_field_tag :titles, params[:title], placeholder: 'Enter term to search for video' %>
        <%= submit_tag "Search Title" %>
    <% end %>
    <%= form_tag(page_path, method: "get") do %>
        <%= text_field_tag :tags, params[:tags], placeholder: 'Search tags' %>
        <%= submit_tag "Search Tags" %>
    <% end %>
    <%= form_tag(page_path, method: "get") do %>
        <%= text_field_tag :descriptions, params[:descriptions], placeholder: 'Search tags' %>
        <%= submit_tag "Search Descriptions" %>
    <% end %>
    

  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordian</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content container" id="page1">
      <div class="card box-shadow">
        <% if !@videos || @videos.length == 0 %>
        <h2> No Results Found </h2>
        <% else %>
        <div class="accordion" id="accordion">
          <% @videos.each do |v| %>
          
          <div class="card">
            <div id="movie<%=v["id"]%>">
              <div class="row" data-toggle="collapse" data-target="#<%= v["id"] %>" aria-expanded="true" aria-controls="movie<%=v["id"]%>"> 
                <div class="col-1 chevron">
                  <%= image_tag "Chevron-DOWN_Large.svg" %>
                </div>
                <div class="col-4 title">
                  <%= v["snippet"]["title"] %> 
                </div>
                <div class="col-4 channel">
                  <%= v["snippet"]["channelTitle"]%> 
                </div>
                <div class="col-3 date">
                  <%= Date.parse(v["snippet"]["publishedAt"]).to_formatted_s(:long) %>
                </div>
              </div>
            </div>
          
            <div id="<%= v["id"] %>" class="collapse" aria-labelledby="movie<%=v["id"]%>" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <a href="https://www.youtube.com/watch?v=<%=v["id"]%>" >
                      <img class="img-responsive" width="100%" src="<%= v["snippet"]["thumbnails"]["medium"]["url"] %>" />
                    </a>                
                  </div>
                  <div class="col-9">
                    <h2 class="info-headings">DESCRIPTION</h2>
                    <p class="description"><%= v["snippet"]["description"].gsub("  ","\n")%></p>
                  </div>
                </div>
                <div class="row info-headings">
                  <div class="col-3">
                    <p>VIEW COUNT</p>
                  </div>
                  <div class="col-3">
                    <p>LIKE COUNT</p>
                  </div>
                  <div class="col-6">
                    <p>TAGS</p>
                  </div>
                </div>
                <div class="row info">
                  <div class="col-3">
                    <p><%= v["statistics"]["viewCount"] %></p>
                  </div>
                  <div class="col-3">
                    <p><%= v["statistics"]["likeCount"] %></p>
                  </div>
                  <div class="col-6">
                    <%= v["snippet"]["tags"].join(", ") %>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>  
        </div>    
      <% end %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        

        
      <div class="someclass">
        <svg width="700" height="900">
      </div>
</div>
        






      </div>
    </div>
  </div>
  
  <div class="page__footer"> </div>

</div>
